@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "PF800";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/src/media/font/PlayfairDisplay-Medium.ttf) format("woff2");
    }
    @font-face {
        font-family: "PF900";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(/src/media/font/PlayfairDisplay-ExtraBold.ttf);
    }
    @font-face {
        font-family: "MMedium";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/src/media/font/Montserrat-Medium.ttf);
    }
    @font-face {
        font-family: "MRegular";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/src/media/font/Montserrat-Regular.ttf);
    }
    
   
}